$text-dark-gray:rgba(0, 0, 0, 0.6);
$text-light-gray:rgb(185, 185, 185);
$card-gray:rgba(0, 0, 0, 0.6);
$scrollbar-light-gray:rgb(219, 219, 219);
$tmdb-green:rgba(30,213,169, 1);
$tmdb-blue:rgba(1,180,228, 1);
$tmd-dark-navy: rgb(8,28,34);
$tmdb-dark-blue: rgb(3,37,65);
$transparent-dark-blue: rgba(3, 37,65 ,.97);