@use '../abstract/colors' as *;

.bottom-menu-wrapper{
background-color: $tmd-ocean-blue;
height: 50px;
position: fixed;
bottom: 0;
width: 100%;
display: flex;
align-items: center;
backdrop-filter: blur(10px);
transition:.4s;
}


.bottom-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: white;

  .bottom-menu-item{
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;

  }
}
.white-bookmark-icon{
  filter: invert(100%)
}
.white-star-icon {
  filter: invert(100%)
}
.white-heart-icon {
  filter: invert(100%)
}

.menu-padding{
  padding-bottom: 10px;
}




@media (min-width:951px){
  .bottom-menu-wrapper{
    display: none;
  }
}


@media (max-width:950px){
  .bottom-menu-wrapper{
    display: flex;
  }
}
