@use '../abstract/colors' as *;
@use '../abstract/mixins' as *;

.cards-reel{
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  padding-right: 0px;

  h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 20px;
  }

  ::-webkit-scrollbar {
    height: 8px;
  }

}

.reel-top-container{
  display: flex;
  align-items: center;
  padding: 30px 40px;
  padding-bottom: 0px;
}

.selector{
position: relative;
display: flex;
border: solid 1px $tmdb-dark-blue;
border-radius: 50px;
cursor: pointer;
height: 30px;
width:200px;


div{
  display: inline-block;
  padding: 6px 0px;
  padding-right: 10px;
  padding-left:10px;
  box-sizing: border-box;
}

}



.selector-btn{
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  background-color: $tmdb-dark-blue;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  transition: left 500ms;
  z-index: -1;
}



.gradient-text{
    background:linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.regular-toggler-text{
  font-size: 1rem;
  font-weight: 600;
  color: $tmdb-dark-blue;
  position: relative;
    z-index: 5;
}

.cards-container{
  display: flex;
  box-sizing: border-box;
  overflow-x: scroll;
  padding: 0px 40px;
  padding-top: 20px;

  a{
    color: inherit;
     
    text-decoration: none;
  }
}


.firstChoice{
  width:100px;
  text-align: center;
}

.secondChoice{
  width:100px;
  text-align: center;
}
.slide-left{
  left:0;
}

.slide-right{
  left:100px;
}

.sm-selector{
position: relative;
font-weight: 600;
display: flex;
flex-direction: column;
}


.sm-choiceOne{
  position: relative;
  z-index: 25;
background-color: $tmdb-dark-blue;
width: max-content;
border-radius: 50px;
 
padding: 6px 20px;
box-sizing: border-box;


span{
@extend .gradient-text;
font-weight: 600;
}

svg {
      fill: rgb(186,252,205);
      margin-left: 5px;
      margin-bottom: -4px;
}


}


.sm-choiceTwo{
  position: absolute;
  border-radius: 15px;
  top: 0px;
  z-index: 20;
  background:linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  width: 120px;
  height: 57px;
   
  color: $tmdb-dark-blue;
  padding: 8px 20px;
  padding-top: 32px;
  border: 1px solid $tmdb-dark-blue;
  box-sizing: border-box;
}


#cards-reel-4{
  background: url('../../images/trending-bg.svg');
  background-repeat: no-repeat ;
  background-size: 125%;
  background-position: 50% 82%;
}



.cards-reel::after{
@include  white-cloudy-effect
}






@media (max-width:450px){
  .reel-top-container{
    padding: 30px 20px;
    padding-bottom: 20px;
    justify-content: space-around;
  }


  .cards-container{
    padding: 0px 20px;
  }

}

@media (min-width:850px){
  .sm-selector{
    display: none;
  }

}

@media (max-width:850px){

.sm-selector{
  display: block;
}

#cards-reel-2{
  display: none;
}

#cards-reel-4{
  background-size: 175%;
  background-position: 50% 60%;
}

}


@media (max-width:450px){
  .cards-reel h2 {
    width: min-content;
  }
}
