
@use '../abstract/colors' as *;

.cast-card{
  width: 138px;
  border-radius: 7px;
  box-shadow: 0px 0px 8px 0px rgb(92 92 92 / 25%);
  margin-right: 16px;
  height: 100%;


  img{
    border-radius: 7px 7px 0px 0px;
    cursor: pointer;
  }

  .cast-info{
    padding: 10px;
    *{
      line-height: 1.3;
    }
  }

  h4{
    font-weight: 700;
  }

  p{
    font-size: 14px;
  }
  .cast-card-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 175px;
    width: 138px;
    background-color: #DBDBDB;
    border-radius: 7px 7px 0px 0px;
    cursor: pointer;
  }
  .cast-card-img-container img{
    width: 70px;
  }
}

.episodes{
color: $text-dark-gray;
}



@media (max-width:950px){
  .cast-card{
    width:120px;

    img{
      height: 135px;
      width: 120px;
      object-fit: cover;
      object-position: top;    }
  }

  .cast-card .cast-card-img-container{
    min-height: 135px;
    width: 120px
  }

  .cast-card-default-img{
    width: 70px !important;
    height: 80px !important;
  }
}
