
.basic-input{
    margin-top: 15px;
    margin-bottom: 15px;
        input {
        width: 70%;
        height: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
        padding: 10px;
        display: block;
        transition: all 300ms ease-out;
    }

    input:focus-visible {
        border: 1px solid #01b4e4 !important;
        outline: unset;
    }
}


@media (max-width:820px){
    .basic-input input {
        width: 100%;
        
    }
}
