
@use '../abstract/colors' as *;

.join-banner{  
  background: url('../../images/join-banner-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 30px 40px;
  color: white;
  line-height: 1.3;

  h2{
    font-size: 2rem;
    font-weight: 700;
  }

  p{
    font-size: 19.2px;
    font-weight: 400;
  }

  li{
    font-size: 1rem;
    font-weight: 400;
    list-style-type: disc;
    color: $light-violet;
  }


  span{
    color: $light-violet;
    font-style: italic;
  }

  button{
    box-sizing: border-box;
    height: 42px;
    width: 92px;
    font-size: 14.5px;
    font-weight: 600;
    background-color: $blue-violet;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 20px;
     
  }
}


.banner-content{
  display: grid;
  grid-template-columns: 58% 35%;
  column-gap: 7%;
  padding: 20px 0;
}


@media (max-width:635px){
  .banner-content{
    display: grid;
    grid-template-columns: auto;
    row-gap: 10%;
    padding: 20px 0;
  }

  .join-banner{

    ul{
      margin-left:18px;
      padding-bottom: 40px;
    }
  }
}
