@use '../abstract/colors' as *;

.movie-card{
  position: relative;
  width: 150px;
  min-width: 150px;
  margin-right: 20px;
}


.movie-info{
  font-size: 1rem;
  box-sizing: border-box;
  padding: 20px 10px;
  padding-bottom: 25px;

  h3{
font-weight: 700;
line-height: 1.3;
  }

  p{
font-weight: 400;
color: $card-gray;
margin-top: 3px;
  }

  a{
    text-decoration: none;
    color: black;
  }

  a:hover{
    color: $tmdb-blue;
  }
}


.movie-poster{
  border-radius: 8px;
  width: 100%;
}

.dotted-circle{
  position: absolute;
  width: 25px;
  top: 9px;
  right: 9px;
  opacity: .6;
   
  z-index: 20;
}

.dotted-circle:hover{
  opacity: 1;
  filter: brightness(0) saturate(100%) invert(53%) sepia(33%) saturate(3054%) hue-rotate(
156deg) brightness(98%) contrast(99%);
}

.movie-card-img-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 150px;
  min-width: 150px;
  margin-right: 20px;
  height: 225px;
  border-radius: 10px;
  background-color: #DBDBDB;
}


