@use '../abstract/colors' as *;
@use '../abstract/mixins' as *;



.movie-overview-banner{
  display: flex;
  height: max-content;
  padding: 30px 40px;
  
  a{
    text-decoration: none;
  }
}


.header-movie-poster{
  width: 300px;
  height: 450px;
  border-radius: 10px;
}


.movie-overview{
  padding-left: 40px;
  color: white;
}

.dark-font{
  color: black;
}

.dark-border{
border-color: rgba(0, 0, 0, 0.6) !important;
}




.line-1{
@include flex-vertical-center;
flex-wrap: wrap;

h2{
    font-size: 2.2rem;
    font-weight: 500;
    margin-right: 10px;
    line-height: 1.3;
  }
  span{
    font-weight: 300;
    font-size: 2.2rem;
    opacity: .8;
  }
}


.line-2{
  div{
    @include flex-vertical-center;
  }

  .movie-safety{
    font-weight: 300;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.481);
    padding: 1px 5px;
    border-radius: 2px;
    margin-right: 8px;
    opacity: .9;
  }

  .dot{
    content:"";
      background: white;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      margin: 0 8px;
    }

}

.movie-category-sm{
display: none;

span{
   

}
}




.line-3{
  @include flex-vertical-center;
  padding: 25px 0;
}

.rate-circle-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  
  
  .rate-circle-container{
    position: static;
    top: 0;
    transition: .2s;
  }
  
  .rate-circle-text span {
      position: absolute;
      top: 3px;
  }
  
}

.circle-title{
  font-weight: 600;
  display: inline-block;
  width: min-content;
  margin-left: 8px;
}

.header-details-icons-block{
  @include flex-vertical-center;
  padding: 0 10px;
  color: white;
.icon-container{
  background-color: $tmdb-dark-blue;
  border-radius: 50%;
  height: 46px;
  width: 46px;
  margin: 0 10px;
  box-shadow: 0px 0px 8px 0px #dbdbdb25;
  cursor: pointer;
}

img{
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 1.5em;
  height: 1.5em;
  
}

}


.white-bookmark-icon{
  filter: invert(100%)
}
.white-star-icon {
  filter: invert(100%)
}
.white-heart-icon {
  filter: invert(100%)
}


.play-btn{
  @include flex-vertical-center;
  span{
    margin-left: 6px;
    font-weight: 600;
    width: max-content;
  }
}


.line-4{
  padding-bottom: 20px;
  
  h3{
    font-style: italic;
    font-size: 18px;
    opacity: .7;
  }
}

.line-5{
  padding-bottom: 20px;
    h3{
      font-size: 21px;
      font-weight: 500;
      margin-bottom: 14px;
    }

    p{
      font-weight: 300;
    }
  }
  
  
  .line-6{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    
    div{
      padding-right: 30px;
      h4{
        font-weight: 600;
        line-height: 1.3;
      }
      p{
        font-size:14px;
      }
    }
  }



  .poster-glass-cover{
position: absolute;
opacity: 0;
top: 134px;
width: 300px;
height: 450px;
border-radius: 10px;
background-color: rgba(26, 26, 26, 0.576);  
backdrop-filter: blur(15px);
transition: .3s;
}


.poster-overlay{
  @include flex-vertical-center;
  position: absolute;
  font-size: 21px;
  top: 350px;
  left: 135px;
    opacity: 0;
    color: white;
     
    transition: .3s;

    span{
      display: block;
      margin-left: 4px;
      opacity: .8;
    }
  }


  .play-btn:hover, .line-1 h2:hover ,  .movie-category span:hover, .line-6 h4:hover {
    opacity: .7;
     
  }
  
  .rate-circle-container:hover{
  transform: scale(1.07);
   
  }




  .poster-wrapper:hover .poster-glass-cover, .poster-wrapper:hover .poster-overlay {
opacity:1;
 
  }

     









  @media (min-width:951px){
    .poster-wrapper-bg{
      background-image: none !important;
    }

    .movie-date-sm{
      display: none;
    }

    .medium-circle{
      display: none;    
    }
    .small-circle{
      display: none;    
    }
    .large-circle{
      display: flex;
    }
  }






  @media (max-width:950px){
    
    .movie-overview-banner{
      display: block;
      padding: 0;
    }
    
    .movie-overview {
      padding: 0;
    }
    .poster-wrapper-bg{
      box-sizing: border-box;
      padding: 20px;
    }
    
    .poster-wrapper{
      position: relative;
      width: 26%;
      height: 55%;    
    }
    
    .poster-glass-cover{
      top: 0;
    }
    .header-movie-poster, .poster-glass-cover{
      width: 100%;
      height: 100%;
    }
    


 .medium-circle{
   display: flex;
 }
 .large-circle{
   display: none;
 }



    .poster-overlay{
      font-size: 2.7vw;
      top: 45%;
      left: 22%;
    }

    .line-1{
      h2{
        margin: auto;
        font-size: 4.2vw;
        padding: 16px 20px;
        text-align: center;
      }
      span{
          font-size: 4vw;
        }

      }


      .header-details-icons-block{
        display: none;
      }

      .flex-wrap{
        display: flex;
        flex-direction:column-reverse;
      }

      .line-2{
        padding: 10px;
        margin: auto;
        width: fit-content;
        
        .movie-safety{
          font-weight: 500;
        }
        .movie-category-sm{
          display: block;
          span{
            font-weight: 300;
          }
        }
        
        .movie-category{
          display: none;
        }
        
        div {
          margin-bottom: 5px;
          justify-content: center;
          align-items: center;
        }
      }
      
      .line-2-wrapper{
          width: 100%;
          border-top: 0.15em solid #7a7a7a24;
          border-bottom: 0.15em solid #7a7a7a24;
          filter: brightness(0.9);
          padding: 5px 0;
      }


      .line-3{
        padding: 15px 20px;
        justify-content: space-around;

        .circle-title{
          width: fit-content;
        }

        .play-btn span{
          font-weight: 400;
          opacity: .8;
        }

        .separation-line{
          width: 1px;
          height: 26px;
          background-color: rgb(157, 157, 157);
          opacity: .8;
        }
      }
    
    .line-4,.line-5,.line-6{
      padding: 10px 20px;
    }

    .line-4{
      padding-top: 25px;
      padding-bottom: 5px;
    }

    .line-6{
      display: grid;
      grid-template-columns: auto auto;
      padding-top: 35px;
      padding-bottom: 30px;

      div{
        padding-right: 25px;
      }
    }
  }




  @media (max-width:450px){
    .line-1 h2{
      font-size: 5.5vw;
    }
  }
