@use '../abstract/colors' as *;
@use '../base/typography' as *;

.rate-circle{
  background-color: $tmd-dark-navy;
  border-radius: 50%;
}


.rate-circle-text{
position: absolute;
top: 13px;
color: white;
font-size: .85rem;
font-weight: 600;
font-family: $outfit;

span{
  position: absolute;
    font-size: 0.4rem;
    top: 1.5px;
  }
}


.rate-circle-container{
  position: absolute;
  top: 202px;
  left: 10px;
}