@use '../abstract/colors' as *;
@use '../base/typography' as *;

.rate-circle{
  background-color: $tmd-dark-navy;
  border-radius: 50%;
}


.rate-circle-text{
position: absolute;
top: 13px;
color: white;
font-size: .85rem;
font-weight: 600;
font-family: $outfit;

span{
  position: absolute;
    font-size: 0.4rem;
    top: 1.5px;
  }
}



/* small rate ring*/
.one-digit-num{
  left: 14px;
}
.two-digit-num{
  left: 10px;
}
.three-digit-num{
  left: 7px;
  font-size: .75rem;
}


/* large rate ring*/
.one-digit-num-lg{
  left: 24px;
}
.two-digit-num-lg{
  left: 19px;
}
.three-digit-num-lg{
  left: 12px;
}


.rate-circle-container{
  position: absolute;
  top: 202px;
  left: 10px;
}