@use '../abstract/colors' as *;


.recommendation-card{
  margin-right: 20px;
  cursor: pointer;
  width: 250px;
}


.poster-container{
  position: relative;
  background-color: #DBDBDB;
  border-radius: 7px;
  height: 142px;
}

.poster{
  width: 250px;
  height: 140px;
  border-radius: 7px;
}

.date-box{
  display: none;
  position: absolute;
  background-color: $transparent-white;
  align-items: center;
  height: 38px;
  width: 100%;
  bottom: 2px;
  border-radius: 0 0 6px 6px;
  padding-left: 10px;

  img{
    width: 16px;
    margin-right: 5px;
  }

}


.poster-container:hover{
  .date-box{
    display: flex;
  }
}


.bottom-info{
  display: grid;
  grid-template-columns: 85% 15%;
  padding-top: 3px;
  width: 95%;
  margin: auto;

  p{
    line-height: 1.3;
    font-size: 0.98rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 180px;
    height: 1.2em;
    white-space: nowrap;
  }

}
