
@use '../abstract/colors' as *;

.result-movie-card{
  height: 140px;
  display: grid;
  grid-template-columns: 95px auto;
  border: 1px solid $gray;
  margin-bottom: 20px;
  box-shadow: 0px 1px 6px -1px rgba(201,201,201,0.75);

}
.results-container{

  a{
    text-decoration: none;
    color: inherit;
  }
}

  .search-card-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBDBDB;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}

.search-person-img-container{
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background-color: #DBDBDB;
  width: 90px;
  height: 90px;
  margin-right: 20px;
  img{
    border-radius: 8px;
    
  }
}

.search-person-work{
  font-size: 1.2em;
}

.search-person-name{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.35em;
}

.search-person-container{
  display: flex;
  margin-bottom: 20px;
}

.search-person-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-info{
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .top-info{

    p{
      color: $text-light-gray;
    }
  }

  .movie-description{    
    p{
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

    }

  }
  
}


.search-default-image{
  width: 60px;
}
.search-person-default-image{
  width: 40px;
}



@media (min-width:751px){
  .result-movie-card{
    border-radius: 10px;

    img{
      border-radius: 8px 0 0 8px;
      cursor: pointer;
    }
  }

  .card-info{
    padding: 20px 15px;
  }

  .movie-description{
    margin-top: 14px;
    h3{
      font-weight: 600;
      height: 25px;
      display: -webkit-box;
      overflow:hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      cursor: pointer;
    }

    p{
      height: 42px;
    }
  }

  .top-info{
    h3{
      font-size: 1.2rem;
    }
  }
  
}


@media (max-width:750px){

.card-info{
  padding: 11px 15px;
}

.result-movie-card{
  border-radius: 6px;

  img{
    border-radius: 4px 0 0 4px;
    cursor: pointer;
  }
}

  .movie-description{
    margin-top: 15px;
    p{
      font-size: .9rem;
      height: 35px;
    }
  }
  
  .top-info{
    h3{
      font-weight: 600;      
      cursor: pointer;
      font-size: 1rem;
      display: -webkit-box;
      overflow:hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    
    p{
      font-size: .9rem;
    }
  }
  
  

}
