@use '../abstract/colors' as *;

.review-card{
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgb(92 92 92 / 25%);
  padding: 20px;
  margin-top: 15px;
  margin-left: 10px;
  border: 1px solid rgb(231 231 231);
}


.author-avatar{
  border-radius: 50%;
  margin-right: 20px;
}

.author-info div{
  display: flex;
  flex-wrap: wrap;
p{
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 15px;
}
}

.star-rate{
  display: flex;
  align-items: center;
  background-color: black;
  padding: 4px 11px;
  border-radius: 8px;
  color: white;
  width: max-content;

  img{
    filter: invert(1);
    width: 14.5px;
  }

  span{
    font-size: .85rem;
    margin-left: 3px;
    margin-top:2px;
  }
}


.author{
  display: flex;
  align-items: center;
}


.review-date{
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.4;

  span{
    font-weight: 400;
    cursor: pointer;
  }
}

.review-body{
  margin-top: 20px;
  margin-left: 84px;
  p{
    line-height: 1.3;
  }

  a{
color: inherit;
  }
}

.review-body a:hover, .author-info div p:hover{
  opacity: .6;
  cursor: pointer;
    }


@media (max-width:950px){
  
  .review-card{
    margin: 0 20px;
    margin-top: 15px;
  }
  
  
  .review-body{
    margin-left: 0;
  }
  
}

@media (max-width:450px){

.author-info div p{
  margin-bottom: 8px;
}
.review-date{
  margin-top: 10px;
}
}