@use '../abstract/colors' as *;




#cards-reel-3{
  color: white;

  .cards-container{
    height: 300px;
  }


  /*large screen selector*/
  .selector{
    border: solid 1px #2bd8ac;
  }
  .selector-btn{
    background:linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  }

  .choiceOne span{
    -webkit-text-fill-color: unset;
  }

  .choiceTwo span {
    color: #ffffff;
  }


  /*small screen selector*/
  .sm-choiceTwo{
    border: 1px solid #1ed5a9;
  }
  .sm-choiceOne{
    background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
    border: 1px solid #1ed5a9;

    span{
      -webkit-text-fill-color: unset;
      color: $tmdb-dark-blue;
    }
    }

    .sm-choiceOne svg {
      fill: #032541;
    }
}



/*selectors jquery classes*/
.no-background{
  background: unset !important;
  border: none !important;
}


.white-text{
  color: #ffffff !important;
}
.dark-blue-text{
  color: $tmdb-dark-blue !important;
}



.play-icon{
  width: 65px;
  position: absolute;
  z-index: 30;
  top: 52px;
  left: 116px;
  transition: .3s;
  cursor: pointer;
}


.trailer-container{
  position: relative;
  min-width: 300px;
  margin-right: 20px;


  .movie-card-dropdown{
    left: 162px;
  }
}



.trailer-card{
  display: grid;
  grid-template-rows:170px auto;
  row-gap: 16px;

}



.movie-trailer{
  position: relative;
  min-width: 300px;
height: 170px;
border-radius: 10px;
background: rgb(33, 128, 159);
transition: .3s;
}

.trailer-thumbnail{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


.movie-trailer:hover{
  transform: scale(1.05);

  .play-icon{
    transform: scale(1.3);
  }
}



.trailer-info{
text-align: center;
width: 300px;
line-height: 1.2;
color: white;

  h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
  }

  p{
    font-size: 1rem;
    font-weight: 400; 
  }

  a{
    text-decoration: none;
    color: inherit;
  }
}

