@use '../abstract/colors' as *;
@use '../abstract/mixins' as *;

.profile-page-wrapper{
    .profile-cover{
        height: 250px;
        background-color: $tmdb-base-navy;
    }
    .cover-content{
        display: flex;
        color: white;
        height: 250px;
        background-image: url('https://www.themoviedb.org/assets/2/v4/account_pipes/green-79a9507a08a7e5a9b8c643a69026fe46191c45972cb45b944ab4b5f8a9110b03.svg');
        background-position: 95% 40%;

        .user-name{
            font-size: 2.2rem;
            font-weight: 600;
        }

        .profile-info{
            padding-left: 20px;
            padding-right: 20px;
        }

        .rate-circles-container{
            display: flex;
            margin-top: 15px;
        }
    }

    .avatar-placeholder {
        border-radius: 50%;

        img{
        width: 155px;
        height: 155px;
        border-radius: 50%;
        margin: auto;
        }

    }

    .user-info-container{
        display: flex;
        align-items: center;
    }

    .rate-circle-wrapper {
        width: min-content;
        .circle-title{
        font-weight: 400;
    }
   }

   .status-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2vw;
    max-height: 500px;
    text-align: center;

    .status-title{
        margin-bottom: 5px;
    }
    .status-item{
        padding-left: 30px;
        padding-right: 30px;
    }

    .number-status{
        color: $profile-green;
        font-size: 4rem;
        font-weight: 700;
    }

    .status-pie{
        width: 95px;
        height: 95px;
    }
    .status-bar{
        width: 250px;
        height: 90px;
    }
   }
}

@media (min-width:951px) {
    
    .profile-page-wrapper .cover-content {
        display: flex;
        align-items: center;
    }

    .rate-circle-wrapper{
        flex-direction: row;
            .circle-title{
            width: 100px;
       }
    }

    .user-info-container .avatar-placeholder {
      display: none;
    }
    .avatar-placeholder {
        width: 150px;
        height: 150px;
        margin-right:2.5vw;
        margin-left:2.5vw;
    }
}

@media (max-width:950px) {
    
    .profile-page-wrapper .cover-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-info-container .avatar-placeholder {
        width: 100px;
        height: 100px;
        margin-right: 5vw;
    }

    .circle-title{
        font-size: .85rem;
    text-align: center;
    }
}
