@use '../abstract/colors' as *;
@use '../abstract/mixins' as *;

.profile-page-wrapper{
    .profile-cover{
        height: 250px;
        background-color: $tmdb-base-navy;
    }
    .cover-content{
        display: flex;
        color: white;
        height: 250px;
        background-image: url('https://www.themoviedb.org/assets/2/v4/account_pipes/green-79a9507a08a7e5a9b8c643a69026fe46191c45972cb45b944ab4b5f8a9110b03.svg');
        background-position: 95% 40%;

        .user-name{
            font-size: 2.2rem;
            font-weight: 600;
        }

        .profile-info{
            padding-left: 20px;
            padding-right: 20px;
        }

        .rate-circles-container{
            display: flex;
            margin-top: 15px;
        }
    }

    .avatar-placeholder {
        border-radius: 50%;

        img{
        width: 155px;
        height: 155px;
        border-radius: 50%;
        margin: auto;
        }

    }

    .user-info-container{
        display: flex;
        align-items: center;
    }

    .rate-circle-wrapper {
        width: min-content;
        .circle-title{
        font-weight: 400;
    }
   }

   .status-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3% 5%;
    max-height: 500px;
    text-align: center;

    .status-title{
        margin-bottom: 5px;
    }
    .status-item{
        padding-left: 30px;
        padding-right: 30px;
    }

    .number-status{
        color: $profile-green;
        font-size: 4rem;
        font-weight: 700;
    }

    .status-pie{
        width: 95px;
        height: 95px;
    }
    .status-bar{
        width: 250px;
        height: 90px;
    }
   }

   .profile-heading{
    font-weight: 900;
    color: #101010;
   }
}

@media (min-width:951px) {
    
    .profile-page-wrapper .cover-content {
        display: flex;
        align-items: center;
    }

    .rate-circle-wrapper{
        flex-direction: row;
            .circle-title{
            width: 100px;
       }
    }

    .user-info-container .avatar-placeholder {
      display: none;
    }
    .avatar-placeholder {
        width: 150px;
        height: 150px;
        margin-right:2.5vw;
        margin-left:2.5vw;
    }
    
    .favourites-container{
        margin: 2% 10%;
    }
    
    .profile-heading{
        font-size: 1.7rem;
        margin: 2% 0%;
    }
    
}

@media (max-width:950px) {
    
    .profile-page-wrapper .cover-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-info-container .avatar-placeholder {
        width: 100px;
        height: 100px;
        margin-right: 5vw;
    }

    .circle-title{
        font-size: .85rem;
    text-align: center;
    }
    
    .favourites-container{
        margin: 2% 0%;
    }

    .profile-heading {
        font-size: 1.5rem;
        margin: 5% auto;
        width: fit-content;
    }
}

.page-item{
    border-radius: 50%;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px #a5a5a5;
}

.active-page-item{
    transition: .2s;
    background-color: #032541;
    font-weight: 700;
    color: #ffffff;
    width: 30px;
    height: 30px;
}
.inActive-page-item{
    background-color: rgb(230, 230, 230);
    font-weight: 600;
    color: #8f8f8f;
    width: 20px;
    height: 20px;
}


.pages-items-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
