@use '../abstract/colors' as *;


.lg-nav{
  height: 64px;
  background-color: $tmdb-dark-blue;
}

.lg-nav-container{
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 64px;
  padding: 22px 40px;
  background: $tmdb-dark-blue;
  z-index: 100;
  
  a, span{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
  }
}

.nav-logo{
  height: 20px;
}



.nav-items-container {
  display: inline-flex;
  justify-content: space-between;
  width: 150px;
  padding:0 24px;
}

.nav-left-part{
  display: flex;
  align-items: center;
  width: 520px;
}

.nav-right-part{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;

  .user-avatar{
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .plus{
    width: 22.39px;
  }

  
  div{
    margin: 0px 5px;
  }
}

.setting-icon {
  cursor: pointer;
  margin-left: 12px;
svg{
    height: 1.3em;
    width: 1.3em;
    color: #e3e3e3;
}
}





@media (max-width:850px){
.lg-nav{
  display: none;
}
.sm-nav{
  display: flex;
}


}
