@use './navbar';
@use '../abstract/colors' as *;

.sm-nav{
  width: 100vw;
  height: 72px;
  background-color: $tmdb-dark-blue;
}

.sm-nav-container{
@extend .lg-nav-container !optional;
padding: 25px;
height: 70px;

}

.menu-icon-container{
  width: 48px;
  cursor: pointer;
}


.sm-nav-logo{
  height: 43px;
}

.sm-icons-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .user-avatar{
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .sm-magnifier{
    width: 21px;
    max-width: 21px;
    max-height: 21px;
  }
}

.sm-user-icon{
  width: 12px;
  max-width: 12px;
  max-height: 12px;
  margin: 0px 5px;
}





@media (min-width:851px){
  .sm-nav{
    display: none;
  }
  }
