@use './assets/scss/base/typography' as *;
@use './assets/scss/abstract/colors' as *;


body{
  font-family: $source-sans-pro;
}


::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollbar-light-gray; 
  border-radius: 50px;
}

.react-toast-notifications__container {
  z-index: 1000000 !important;

  .css-18gu508-Content{
    word-wrap: break-word;
    min-height: unset;      
  }
  .css-nvf14r-ToastContainer {
    z-index: 1000000 !important;
  }
  .css-1mf073k-ToastElement{
    width: fit-content;
  }
  
}
